<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure Search Example</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main id="main">
        <div class="overlay"></div>
        <div class="container">
            <div class="col">
                <h1 class="upper">Query Coffee Reviews</h1>
                <form action="/" method="post">
                    <div class="input-wrapper">
                        <input type="text" class="input-element" name="query" placeholder="Enter your search query (ex: search=sentiment:'negative')">
                        <button type="submit" class="primary-btn">Search</button>
                    </div>
                    
                </form>
            </div>
            
            <div class="col results">
                <h2 class="code-title">Search Results</h2>
                <pre class="code-text">
                    {{ results }}
                </pre>
            </div>
            
        </div>
        
    </main>
    
</body>
</html>
